<h3>{{model.name}}</h3>
<p>{{model.description}}</p>

<div class="grid">
  <div class="col sml-12">
    {{link-to 'Edit group' 'group.edit' model class="button"}}
  </div>
</div>

<h4>Last expenses</h4>

{{#each model.expenses as |e|}}
  <div class="expense">
    <div class="grid">
      <div class="col sml-6">
        <div class="description">{{e.description}}</div>
      </div>

      <div class="col sml-6 text-right">
        <div class="amount">{{e.amountFormatted}}</div>
      </div>

      <div class="col sml-12">
        <div class="date">{{moment-format e.paidAt 'YYYY-MM-DD'}}</div>
      </div>
    </div>
  </div>
{{else}}
  <p>No expenses found for this group.</p>
{{/each}}

<div class="grid">
  <div class="col sml-12">
    {{link-to 'Add expense' 'group.add-expense' model class="button blue"}}
  </div>
</div>
