<fieldset>
  <div class="grid">
    <div class="col sml-12">
      <label for="inputGroupName">Group</label>
      {{one-way-input group.name disabled="disabled"}}
    </div>
  </div>

  <div class="grid">
    <div class="col sml-12">
      <label for="inputDescription">Description</label>
      {{one-way-input
        description
        update=(action (mut description))
        id="inputDescription"
      }}
    </div>
  </div>

  <div class="grid">
    <div class="col sml-12">
      <label for="inputAmount">Amount</label>
      {{one-way-input
        amount
        update=(action (mut amount))
        id="inputAmount"
      }}
    </div>
  </div>

  <div class="grid">
    <div class="col sml-12">
      <label for="inputDate">Date</label>
      {{one-way-input
        date
        update=(action (mut date))
        id="inputDate"
      }}
    </div>
  </div>

  <div class="grid">
    <div class="col sml-12">
      <button class="blue full-width" {{action 'onSubmit'}}>
        Save expense
      </button>
    </div>
  </div>
</fieldset>
