<fieldset>
  <div class="grid">
    <div class="col sml-12">
      <label for="inputGroupName">Group</label>
      {{one-way-input group.name disabled="disabled"}}
    </div>
  </div>

  <div class="grid">
    <div class="col sml-12">
      <label for="inputDescription">Description</label>
      {{one-way-input
        description
        update=(action (mut description))
        placeholder="Briefly describe what this is for"
        id="inputDescription"
      }}
    </div>
  </div>

  <div class="grid">
    <div class="col sml-12">
      <label for="inputAmount">Amount</label>
      {{one-way-input
        amount
        update=(action (mut amount))
        type="number"
        step="0.01"
        placeholder="In USD"
        id="inputAmount"
      }}
    </div>
  </div>

  <div class="grid">
    <div class="col sml-12">
      <label for="inputDate">Date</label>
      {{pikaday-input
        value=paidAt
        placeholder="When was this paid?"
        format="MM/DD/YYYY"
        readonly="readonly"
        onSelection=(action (mut paidAt))
      }}
    </div>
  </div>

  <div class="grid">
    <div class="col sml-12">
      <button class="blue full-width" {{action 'onSubmit'}}>
        {{#if isNew}}
          Create expense
        {{else}}
          Save expense
        {{/if}}
      </button>
    </div>
  </div>

  {{#if exists}}
    <div class="grid">
      <div class="col sml-12">
        <button class="full-width red" {{action 'onDelete'}}>
          Delete expense
        </button>
      </div>
    </div>
  {{/if}}
</fieldset>
