{{#if isNew}}
  <h3>Add new group</h3>
{{else}}
  <h3>Edit group</h3>
{{/if}}

<form>
  <fieldset>
    <div class="grid">
      <div class="col sml-12">
        <label for="inputGroupName">Name</label>
        {{one-way-input
          name
          update=(action (mut name))
          id="inputGroupName"
          placeholder="Something relevant"
        }}
      </div>
    </div>

    <div class="grid">
      <div class="col sml-12">
        <label for="inputGroupDescription">Description</label>
        {{one-way-textarea
          description
          update=(action (mut description))
          id="inputGroupDescription"
          rows="7"
          placeholder="Add extra info about your group."
        }}
      </div>
    </div>

    <div class="grid">
      <div class="col sml-12">
        {{#if isNew}}
          <button class="full-width blue" {{action 'onSubmit'}}>
            Create group
          </button>
        {{else}}
          <button class="full-width blue" {{action 'onSubmit'}}>
            Save group
          </button>
        {{/if}}
      </div>
    </div>

    <div class="grid">
      <div class="col sml-12">
        <button class="full-width" {{action 'onCancel'}}>Cancel</button>
      </div>
    </div>

    {{#if exists}}
      <div class="grid">
        <div class="col sml-12">
          <button class="full-width red" {{action 'onDelete'}}>Delete group</button>
        </div>
      </div>
    {{/if}}
  </fieldset>
</form>
